      /* Default styles */
      .accordion {
        max-width: 600px;
        margin: 0 auto;
      }

      .accordion-header {
        display: block;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        cursor: pointer;
        background-color: #eee;
      }

      .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }

      input[type="checkbox"]:checked + label + .accordion-content {
        max-height: 1000px; /* adjust to fit your content */
        transition: max-height 0.4s ease-in;
      }

      /* Mobile styles */
      @media (max-width: 767px) {
        .accordion {
          max-width: 320px;
        }

        .accordion-header {
          font-size: 16px;
        }
      }

      /* Tablet styles */
      @media (min-width: 768px) and (max-width: 1199px) {
        .accordion {
          max-width: 820px;
        }

        .accordion-header {
          font-size: 20px;
        }
      }

      /* Desktop styles */
      @media (min-width: 1200px) {
        .accordion {
          max-width: 1920px;
        }

        .accordion-header {
          font-size: 24px;
        }
      }